td {
    font-family: "Times New Roman", Times, serif;
}
#searchBar {
  margin: 15px 100px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

table tr:nth-child(odd) td{
  background-color: #82CFFD;
}
table tr:nth-child(even) td{
  background-color: #9FB6CD;
}

body {
    background-color: #ccffcc;
}

input[id="inputID"] {
    height:30px;
    width: 200px;
    font-size:12pt;
    margin: 5px 10px;
}

button[id="trashID"] {
    height:30px;
    width: 30px;
    margin: 5px 10px;
}
button[id="infoID"] {
    height:30px;
    width: 30px;
    margin: 5px 10px;
}
