td {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}
#searchBar {
  margin: 15px 100px;
}

.tableWrapper {
  max-height: 500px;
  overflow: auto;
}

table tr:nth-child(odd) td{
  background-color: #82CFFD;
}
table tr:nth-child(even) td{
  background-color: #D8E1EB;
}

table th{
  background-color: #a8bdd2;
  font-size:14pt;
}

body {
    background-color: #003f7e;
}

input[id="inputID"] {
    height:30px;
    width: 200px;
    font-size:12pt;
    margin: 5px 10px;
}

button[id="trashID"] {
    height:33px;
    width: 33px;
    padding-top: 3px;
    padding-right: 6px;
    padding-bottom: 3px;
    padding-left: 6px;
}
button[id="infoID"] {
    height:33px;
    width: 33px;
    padding-top: 3px;
    padding-right: 6px;
    padding-bottom: 3px;
    padding-left: 6px;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
}

.fieldHeading {
  color: white;
}
