td {
    font-family: "Times New Roman", Times, serif;
}
#searchBar {
  margin: 15px 100px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

table tr:nth-child(odd) td{
  background-color: #82CFFD;
}
table tr:nth-child(even) td{
  background-color: #9FB6CD;
}

body {
    background-color: #ccffcc;
}


